{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="about-container">


        <nav class="header-nav" style="background-color: white; ">
            <ul>
                <li><a href="{% url 'about0' %}" style="color: black;">Objectives</a></li>
                <li ><a href="https://www.un.org/sustainabledevelopment/poverty/" style="color: black;" >Radical-Solutions is</a></li>
                <li ><a href="https://www.un.org/sustainabledevelopment/poverty/" style="color: black;">We are involved in</a></li>
                <li ><a href="https://www.netacad.com/dashboard#state=af3b9d24-fba2-430f-8d26-c3bb38ac42c8&session_state=229f14a7-fa2d-426b-8f23-0a46716404cc&iss=https%3A%2F%2Fauth.netacad.com%2Fauth%2Frealms%2Fskillsforall&code=6b0a0a1b-8e93-42e8-94f4-7da8512cdbed.229f14a7-fa2d-426b-8f23-0a46716404cc.8870065c-459e-43f2-83c2-9569348f2c95" style="color: black;">What We Offer</a></li>
                <li ><a href="https://youtu.be/TBuIGBCF9jc?si=YU828-LvFJL-ik4d" style="color: black;">Why Us</a></li>
                <li><a href="https://www.youtube.com/watch?v=tbnzAVRZ9Xc" style="color: black;">Our Vision</a></li>
            </ul>
        </nav>
    <main><section class="hero">
<div class="hero"><img src="{% static 'images/scyla.jpg' %}" style="width: 200vh; height: 200vh; background-repeat: no-repeat; background-position: center; background-size: cover; padding: 0; margin: 0;">
    <p style="color: darkgreen; font-size: 20px">Excellence is here with us and is everywhere here.</p>
    <p style="font-size:20px ">Our platform is here to help you achieve your dreams</p>
</div>
    </section>
    </main>

<h1 style="color: darkslategray">Radical Solution Platform</h1>
    <p class="" style="background-color: darkslategray; color: white; font-family: Arial, sans-serif; font-size: 20px"><img src="{% static 'images/Aim.jpg' %}" alt="" style="width:560px; height: 400px ">The <em><i style="color: white">"Radical Solutions Platform"</i></em> <span class="">is an innovative project aimed at aligning with the United Nations' first Sustainable Development Goal: No Poverty.</span>This ambitious initiative seeks to bridge the gap between education and employment for underserved communities,providing them with the tools necessary to improve their socioeconomic status.The platform offers free skill development courses through a mobile application,empowering individuals with the knowledge and capabilities needed to access better job opportunities.</p>
    <div class="card" style="width: 18rem;">
  <img src="{% static 'images/victor.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body" style="align-self: center;">
    <h5 class="">Dr Victor Odhiambo</h5>
    <p class="card-text" style="font-family: Georgia; color: black; ">“The range of courses provided by the Radical Solutions Platform is comprehensive, covering areas from vocational training in trades like carpentry and plumbing to digital literacy, coding, and entrepreneurship.”</p>
    <a href="https://www.simplilearn.com" class="btn btn-info" style="color: white">more info</a>
  </div>
    </div>
    <h1 style="font-size: 40px; color: black;">This Platform offers</h1>
<div class="bg-secondary-subtle" style="font-family: Arial, sans-serif; color: #6c757d; font-size: 30px "><p>Through our human-centered approach to learning, we will empower you to fulfil your
professional and personal goals and enjoy career success.</p>
<div>
    <h2>
        <ul class="who-we-are">
        <li>Reskilling into tech? We’ll support you.</li>

        <li>Upskilling for promotion? We’ll help you.</li>

        <li>Cross-skilling for your career? We’ll guide you.</li>
    </ul>
    </h2>
</div>
    <div class="videos">
    <div class="videos bg-info"><iframe width="300" height="200" src="https://www.youtube.com/embed/4M93XVKbmoc?si=70NBxksezDeDbhyi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
<div class="videos bg-info">
    <iframe width="300" height="200" src="https://www.youtube.com/embed/iu3Wtf5Vwjk?si=2eQ3swuctS9Vm5aJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
    <div class="videos bg-info">
        <iframe width="300" height="200" src="https://www.youtube.com/embed/JEFbfwg9dek?si=X_tO5wwwEHGY9oZu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    </div>
    <div>
       <p class="b" style="font-size: 40px; color: black;">Mission and Vision:</p>
        <p style="font-size: 20px"> The primary mission of Radical Solutions is to eradicate poverty by empowering individuals through accessible education and skill development. Our vision is to create a world where everyone, regardless of their background, has the opportunity to build a better future through practical and quality education.</p>
    </div>
</div>
</div>

<main> <section class="course-banner">
    <div class="course-details">
        <h1>Radical Solutions Advanced Database Systems</h1>
        <p>Self-Paced | Over 10 hours | $free</p>
        <p>Hands-on experience in:</p>
        <ul>
            <li><a href="https://www.mygreatlearning.com/database-management-system/free-courses?form=MG0AV3">Databases: Advanced Topics in SQL - Stanford Online: </a>This course covers indexes, transactions, constraints, triggers, views, and authorization in the context of relational database systems and SQL. It's available on edX and can be audited for free1.</li>
            <li><a href="https://www.mygreatlearning.com/academy">Database Management System Courses - Great Learning:</a>Great Learning offers a variety of free courses on database management systems, including advanced SQL, Oracle SQL, and SQL projects for beginners.</li>
            <li><a href="https://courses.cs.duke.edu/fall10/cps216/Lectures/01_intro.pdf?form=MG0AV3">CPS 216: Advanced Database Systems - Duke University:</a>This course provides an in-depth look at advanced database systems, covering topics like data management, query processing, and concurrency controls.</li>

        </ul>
        <div class="buttons"> <a href="https://www.mygreatlearning.com/database-management-system/free-courses?form=MG0AV3" class="btn enroll bg-warning">Enroll Now</a> <a href="https://stackoverflow.com/?newreg=344c3e4d33b54e9fadb10c46734f247e" class="btn consult bg-primary">Get Free Consultation</a>
        </div> </div> <div class="course-logo"> <img src="{% static 'images/logo2.jpg' %}" alt="">
</div>
</section>
</main>
<main> <section class="course-banner">
    <div class="course-details">
        <h1>Radical Solutions Networking Course</h1>
        <p>Self-Paced | Over 10 hours | $free</p>
        <p>Hands-on experience in:</p>
        <ul>
          <li><a href="https://www.cisco.com/c/m/en_sg/partners/cisco-networking-academy/index.html?form=MG0AV3">Cisco Networking Academy:</a>Offers a variety of free courses on networking basics, TCP/IP, OSI model, routing, switching, and security. You can earn certificates upon completion1.</li>
          <li><a href="https://www.coursera.org/courses?query=networking&productDifficultyLevel=Beginner&form=MG0AV3">Introduction to Networking and Storage on Coursera:</a>This course covers the fundamentals of networking and storage, including an introduction to networking concepts.</li>
          <li><a href="https://www.bing.com/search?q=free+networking+courses&form=MG0AV3&toWww=1&redig=1AB5AE33B07E42A18B865F5CCA77AF3F">The Bits and Bytes of Computer Networking on Coursera:</a>Offered by Google, this course provides a comprehensive introduction to computer networking.</li>
        </ul>
        <div class="buttons"> <a href="{% url 'base' %}" class="btn enroll bg-warning">Enroll Now</a> <a href="https://stackoverflow.com/?newreg=344c3e4d33b54e9fadb10c46734f247e" class="btn consult bg-primary">Get Free Consultation</a>
        </div> </div> <div class="course-logo"> <img src="{% static 'images/logo2.jpg' %}" alt="">
</div>
</section>
</main>


<main> <section class="course-banner">
    <div class="course-details">
        <h1>Radical Solutions Architecture Capstone Project</h1>
        <p>Self-Paced | Over 10 hours | $free</p>
        <p>Hands-on experience in:</p>
        <ul>
            <li>Web app development</li>
            <li>API integration</li>
            <li>Terraform-based VM provisioning</li>
            <li>Cloud monitoring</li> <li>Deployment</li>
            <li>Web security</li>
        </ul>
        <div class="buttons"> <a href="{% url 'base' %}" class="btn enroll bg-warning">Enroll Now</a> <a href="https://stackoverflow.com/?newreg=344c3e4d33b54e9fadb10c46734f247e" class="btn consult bg-primary">Get Free Consultation</a>
        </div> </div> <div class="course-logo"> <img src="{% static 'images/logo2.jpg' %}" alt="">
</div>
</section>
</main>
<main> <section class="course-banner">
    <div class="course-details">
        <h1>Radical Solutions IT Audit</h1>
        <p>Self-Paced | Over 10 hours | $free</p>
        <p>Hands-on experience in:</p>
        <ul>
            <li>Risk Identification and Mitigation: Identifying potential risks and implementing measures to mitigate them.</li>
            <li>Security Assessment: Evaluating the effectiveness of security policies and controls.</li>
            <li>Compliance Verification: Ensuring adherence to laws, regulations, and industry standards.</li>
            <li>Data Management Evaluation: Assessing how data is managed, stored, and protected.</li>
            <li>Network Security: Reviewing the security of network infrastructure, including firewalls, routers, and intrusion detection systems.</li>
            <li>Access Controls: Ensuring proper access controls are in place to protect sensitive information.</li>
            <li>Incident Response: Evaluating the organization's ability to respond to and recover from security incidents.</li>
        </ul>
        <div class="buttons"> <a href="https://www.coursera.org/learn/information-systems-audit/lecture/MXvyg/course-overview" class="btn enroll bg-warning">Enroll Now</a> <a href="https://stackoverflow.com/?newreg=344c3e4d33b54e9fadb10c46734f247e" class="btn consult bg-primary">Get Free Consultation</a>
        </div> </div> <div class="course-logo"> <img src="{% static 'images/logo2.jpg' %}" alt="">
</div>
</section>
</main>
<main> <section class="course-banner">
    <div class="course-details">
        <h1>Radical Solutions Engineering Mathematics</h1>
        <p>Self-Paced | Over 10 hours | $free</p>
        <p>Hands-on experience in:</p>
        <ul>
           <li>Algebra: Basic algebraic manipulations, quadratic equations, and systems of equations.</li>

           <li>Trigonometry: Understanding angles, sine, cosine, tangent, and their applications in engineering.</li>

           <li>Vectors and Matrices: Operations with vectors, matrix algebra, and applications in engineering problems.</li>
           <li>Complex Numbers: Understanding and using complex numbers in engineering contexts.</li>
           <li>Differential Equations: Solving ordinary differential equations (ODEs) and partial differential equations (PDEs).</li>
        </ul>
        <div class="buttons"> <a href="https://www.classcentral.com/subject/engineering-mathematics?form=MG0AV3" class="btn enroll bg-warning">Enroll Now</a> <a href="https://stackoverflow.com/?newreg=344c3e4d33b54e9fadb10c46734f247e" class="btn consult bg-primary">Get Free Consultation</a>
        </div> </div> <div class="course-logo"> <img src="{% static 'images/logo2.jpg' %}" alt="">
</div>
</section>
</main>
<main> <section class="course-banner">
    <div class="course-details">
        <h1>Radical Solutions Programming</h1>
        <p>Self-Paced | Over 10 hours | $free</p>
        <p>Hands-on experience in:</p>
        <ul>
            <li>Web app development</li>
            <li>API integration</li>
            <li>Terraform-based VM provisioning</li>
            <li>Cloud monitoring</li> <li>Deployment</li>
            <li>Web security</li>
        </ul>
        <div class="buttons"> <a href="https://topperworld.in/" class="btn enroll bg-warning">Enroll Now</a> <a href="https://stackoverflow.com/?newreg=344c3e4d33b54e9fadb10c46734f247e" class="btn consult bg-primary">Get Free Consultation</a>
        </div> </div> <div class="course-logo"> <img src="{% static 'images/logo2.jpg' %}" alt="">
</div>
</section>
</main>
<main> <section class="course-banner">
    <div class="course-details">
        <h1>Radical Solutions Accounting and Auditing</h1>
        <p>Self-Paced | Over 10 hours | $free</p>
        <p>Hands-on experience in:</p>
        <ul>
            <li>Financial Accounting: Preparation and interpretation of financial statements.</li>

            <li>Management Accounting: Providing information for internal business decisions.</li>

            <li>Cost Accounting: Tracking and analyzing costs of production.</li>

            <li>Tax Accounting: Preparing tax returns and planning for tax obligations.</li>

              <li>Forensic Accounting: Investigating financial discrepancies and fraud.</li>
        </ul>
        <div class="buttons"> <a href="https://www.accountingcoach.com/accounting-basics/outline" class="btn enroll bg-warning">Enroll Now</a> <a href="https://stackoverflow.com/?newreg=344c3e4d33b54e9fadb10c46734f247e" class="btn consult bg-primary">Get Free Consultation</a>
        </div> </div> <div class="course-logo"> <img src="{% static 'images/logo2.jpg' %}" alt="">
</div>
</section>
</main>










{% endblock %}