{% extends 'base.html' %}
{% load static %}
{% block content %}
<main><section class="row">
    <div class="hero-image col-lg-12">
        <h1 style="color: #0d6efd">Radical Solutions Courses</h1>
        <div>
<h6 style="font-size: 25px; color: white">This Platform is designed to offer your various Online Courses to enhance your confident to your professional career.</h6>
        </div>
    </div>
    <div class="container">
        <div class="course">
            <h2>Software Engineering</h2>
            <p>Learn the fundamentals of software engineering, including principles, design, and coding practices.</p>
            <a href="https://www.mygreatlearning.com/software/free-courses">Explore Course</a>
        </div>
        <div class="course">
            <h2>Android Development</h2>
            <p>Master Android development with courses on creating apps using Java and Kotlin.</p>
            <a href="https://www.udemy.com/topic/android-development/free/">Explore Course</a>
        </div>
        <div class="course">
            <h2>Calculus</h2>
            <p>Delve into the world of calculus with courses on limits, derivatives, integrals, and more.</p>
            <a href="https://www.khanacademy.org/math/calculus-1">Explore Course</a>
        </div>
        <div class="course">
            <h2>Artificial Intelligence</h2>
            <p>Explore the basics and advancements in AI through courses from top universities.</p>
            <a href="https://www.analyticsinsight.net/artificial-intelligence/top-free-training-courses-on-ai-for-everyone">Explore Course</a>
        </div>
        <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
          <img src="{% static 'images/bac.png' %}" alt="" style="width: 50px; height: 50px">
        <h5 class="card-title">Kotlin for Android</h5>
        <p class="card-text">Develop Android apps with Kotlin</p>
        <a href="https://developer.android.com/kotlin" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
        <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
          <img src="{% static 'images/bac.png' %}" alt="" style="width: 50px; height: 50px">
        <h5 class="card-title">Internet Grow</h5>
        <p class="card-text">AI Skills and more Tech Skills</p>
        <a href="https://www.learninternetgrow.com/Topic/learn/" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
    </div>
</body>
</html>





</section>
</main>






{% endblock %}